services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio
    expose:
      - "80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
