services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio
    ports:
      - "3000:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
